.cproject
.project
.pydevproject
cmake_install.cmake
build/
bin/
lib/
msg_gen/
srv_gen/
*.pyc
*.*~
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
OpenTLDConfig.cmake
TODO
cmake_install.cmake
*.a
.pydevproject
cmake_install.cmake
_*.py
qtcreator-build/
rosbagdata
