<!--xml-->
<launch>    
    <include file="$(find stereoCalib)/launch/stereo.launch" />
    <rosparam command="load" file="$(find eod_nav)/launch/nav.yaml"/>
    <param name="/eod_cam" value="eodCam/left/image_raw" />
    <!--include file="$(find eod_teleop)/launch/eod_teleop.launch" /-->
    <node pkg="teamb_ui" type="teamb_ui" name="UI" output="screen" />
    <node pkg="OpenTLD" type="destinationTLD" name="OpenTLD" output="screen" />
    <node pkg="eod_nav" type="eod_nav.py" name="nav" output="screen"/>
    <node pkg="rosserial_python" type="serial_node.py" name="Motor_Ctrl" args="/dev/ttyACM0" />
</launch>
